@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Desktop Navbar Section */

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    list-style: none;
    gap: 5%;
    margin-right: 20%;
    margin-left: 20%;
    flex-flow: wrap;
}

a {
    text-decoration: none;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    position: relative;
    padding: 3px 0;
}

li a:hover {
    color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}

li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}

li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}

li a:hover::before,
li a:hover::after {
    width: 100%;
    left: 0;
}

/* End of Desktop Navbar Section */

/* Hero Section */

.container {
    height: 60vh;
    margin-left: 20%;
    margin-right: 20%;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    font-size: 75px;
    color: black;
    z-index: 2;
    flex-wrap: wrap;
}

.hero-text h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}

.hero-about {
    display: flex;
    align-self: flex-end;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50%;
    width: 50%;
}

.hero-about h2 {
    width: 100%;
}

.image-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
    padding: 0 5rem;
}

.image2 {
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
    border-radius: 3%;
    z-index: 2;
    scale: 1.2;
    margin-top: 5%;
    max-width: 100%;
}

.image2:hover {
    transform: scale(1.1);
    transition: all 500ms ease 0s;
}

.container2 {
    margin-left: 40%;
    margin-right: 20%;
    min-height: 50vh;
    margin-top: 10%;
    display: flex;
}

.hero-text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 30px;
    gap: 40px;
    margin: 0 25% 0 25%;
}

/* End of Hero Section */

/* Projects Section */

.project-container {
    width: 100%;
    height: auto;
    margin: 0;
    flex-flow: wrap;
}

.project-header {
    font-size: 110px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 20%;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 2%;
}

.shop-project {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    background-image: url(./Assets/pexels-moose-photos-1038000.jpg);
    background-position: center;
    background-size: cover;
}

.office-project {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    background-image: url(./Assets/pexels-dominika-roseclay-1036848\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.sports-project {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    background-image: url(./Assets/pexels-ray-piedra-1456706.jpg);
    background-position: center;
    background-size: cover;
}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow: hidden;
}

.text-container:hover {
    height: 250px;
}

.name {
    margin-top: 10px;
    color: #233991;
    font-size: 2rem;
}

.content {
    padding: 20px 0;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.prjct-btn {
    border: 3px solid rgba(0, 195, 255);
    width: 160px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 150px;
    margin-left: 125px;
    cursor: pointer;
}



/* End of Projects Section */

/* Media Queries */

@media (max-width: 1698px) {
    .hero-about h2 {
        min-width: 0;
        white-space: nowrap;
    }

    .hero-text h1 {
        min-width: 0;
        white-space: nowrap;
    }

}
