@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 0%;
    padding: 0;
    gap:
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Desktop Navbar Section */

.nav-bar {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vh;
    list-style: none;
    gap: 5%;
    flex-flow: wrap;
    margin-left: 0%;
    margin-right: 0%;
    flex-grow: 1;
}

.nav-bar li:nth-last-of-type(4) {
    margin-left: auto;
}

.nav-bar li:nth-last-of-type(3) {
    margin-left: auto;
}
.nav-bar li:nth-last-of-type(1) {
    margin-right: auto;
}


a {
    text-decoration: none;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    position: relative;
    padding: 3px 0;
}

li a:hover {
    color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}

li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}

li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: all 250ms ease-in-out;
}

li a:hover::before,
li a:hover::after {
    width: 100%;
    left: 0;
}

/* End of Desktop Navbar Section */

/* Hero Section */

.hero-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15%;
    width: 100%;
    font-size: 50px;
    color: black;
    z-index: 2;
    flex-wrap: wrap;
}

.hero-text, .hero-about, .hero-text h1, .hero-text2, .project-header {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.hero-text, .hero-about, .hero-text h1, .hero-text2, .project-header {
    transition-duration: .3s;
}

.hero-text h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 16%;
}

.hero-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 0%;
    width: 100%;
}

.hero-about h2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-right: 16%;
    margin-left: 50%;
    
}

.image-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    padding: 0;
}

.image2 {
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
    border-radius: 3%;
    z-index: 2;
    scale: 1.2;
    margin-top: 20%;
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.image2:hover {
    transform: scale(1.1);
    transition: all 500ms ease 0s;
}

.hero-text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 50%;
    margin-right: 16%;
    min-height: 50vh;
    margin-top: 15%;
    margin-bottom: 10%;
}

.hero-text2 p, h2 {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.hero-text2 p, h2 {
    transition-duration: .3s;
}

.hero-text2 p {
    font-size: 40px;
}

.hero-text2 h2 {
    font-size: 40px;
}


/* End of Hero Section */

/* Projects Section */

.project-container {
    width: 100%;
    height: auto;
    margin: 0;
    flex-flow: wrap;
}

.project-header {
    font-size: 110px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-bottom: 10%;
}

.project-header {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.project-header {
    transition-duration: .3s;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 2%;
}

.shop-project {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    background-image: url(./Assets/pexels-moose-photos-1038000.jpg);
    background-position: center;
    background-size: cover;
}

.office-project {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    background-image: url(./Assets/pexels-dominika-roseclay-1036848\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.sports-project {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    margin: 50px;
    border-radius: 10px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    background-image: url(./Assets/pexels-ray-piedra-1456706.jpg);
    background-position: center;
    background-size: cover;
}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow: hidden;
}

.text-container:hover {
    height: 250px;
}

.name {
    margin-top: 10px;
    color: #233991;
    font-size: 2rem;
}

.content {
    padding: 20px 0;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.prjct-btn {
    border: 3px solid rgba(0, 195, 255);
    width: 160px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 150px;
    margin-left: 125px;
    cursor: pointer;
}



/* End of Projects Section */

/* Media Queries */

@media (max-width: 1024px) {
    .hero-text, .hero-about h2, .hero-text2 p, .hero-text2 h2 {
        font-size: 30px;
    }

    .project-header {
        font-size: 60px;
    }
}

@media (max-width: 1024px) {
    .hero-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 15%;
        width: 100%;
        color: black;
        z-index: 2;
        flex-wrap: wrap;
    }

    .hero-text h1 {
        display: flex;
        justify-content: flex-start;
        margin-left: 16%;
    }

    .hero-about {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        width: 100%;
    }

    .hero-about h2 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-right: 16%;
        margin-left: 50%;   
    }

    .image-container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 5rem;
        margin: 0;
        padding: 0;
    }

    .image2 {
        display: flex;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
        border-radius: 3%;
        z-index: 2;
        scale: 1.2;
        margin-top: 20%;
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .image2:hover {
        transform: scale(1.1);
        transition: all 500ms ease 0s;
    }

    .hero-text2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-left: 50%;
        margin-right: 16%;
        min-height: 50vh;
        margin-top: 15%;
        margin-bottom: 10%;
    }

}

@media (max-width: 768px) {
    .hero-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 15%;
        width: 100%;
        color: black;
        z-index: 2;
        flex-wrap: wrap;
    }

    .hero-text h1 {
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
    }

    .hero-about {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        width: 100%;
    }

    .hero-about h2 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-right: 5%;
        margin-left: 30%;   
}

    .image-container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 5rem;
        margin: 0;
        padding: 0;
    }

    .image2 {
        display: flex;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
        border-radius: 3%;
        z-index: 2;
        scale: 1.2;
        margin-top: 20%;
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .image2:hover {
        transform: scale(1.1);
        transition: all 500ms ease 0s;
    }

    .hero-text2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-left: 30%;
        margin-right: 5%;
        min-height: 50vh;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .project-header {
        margin-left: 5%;
    }

} 

@media (max-width: 480px) {

    .hero-text, .hero-about h2, .hero-text2 p, .hero-text2 h2 {
        font-size: 30px;
    }

    .project-header {
        font-size: 60px;
    }
    
    .hero-text {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 15%;
        width: 100%;
        color: black;
        z-index: 2;
        flex-wrap: wrap;
    }

    .hero-text h1 {
        display: flex;
        justify-content: flex-start;
        margin-left: 20%;
        margin-right: 20%;
    }

    .hero-about {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        width: 100%;
    }

    .hero-about h2 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-right: 20%;
        margin-left: 20%;   
}

    .image-container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 5rem;
        margin: 0;
        padding: 0;
    }

    .image2 {
        display: flex;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
        border-radius: 3%;
        z-index: 2;
        scale: 1.2;
        margin-top: 20%;
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .image2:hover {
        transform: scale(1.1);
        transition: all 500ms ease 0s;
    }

    .hero-text2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-left: 20%;
        margin-right: 20%;
        min-height: 50vh;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .project-header {
        margin-left: 26.5%;
        margin-right: 20%;
    }

    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
        margin-top: 2%;
        flex-wrap: wrap;
    }
    
    .shop-project {
        width: 250px;
        height: 400px;
        background-color: #ffffff;
        position: relative;
        margin: 50px;
        border-radius: 10px;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        background-image: url(./Assets/pexels-moose-photos-1038000.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .office-project {
        width: 250px;
        height: 400px;
        background-color: #ffffff;
        position: relative;
        margin: 50px;
        border-radius: 10px;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        background-image: url(./Assets/pexels-dominika-roseclay-1036848\ \(1\).jpg);
        background-position: center;
        background-size: cover;
    }
    
    .sports-project {
        width: 250px;
        height: 400px;
        background-color: #ffffff;
        position: relative;
        margin: 50px;
        border-radius: 10px;
        box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
        background-image: url(./Assets/pexels-ray-piedra-1456706.jpg);
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 450px) {
    
    .project-header {
        display: flex;
        justify-content: center;
        margin: 0 15%;
    }
    .prjct-btn {
        border: 3px solid rgba(0, 195, 255);
        width: 160px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        padding: 15px;
        margin-bottom: 50px;
        margin-left: 50px;
        cursor: pointer;
    }
}